* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    font-weight: 400;
    padding: 16px;
    background-color: #ffffff;
    color: #121212;
    word-break: break-word;
}

a {
    color: inherit;
}

.logo {
    width: 112px;
    height: auto;
}

.inline-block {
    display: inline-block;
}

.w-full {
    width: 100%;
}

.light-text {
    font-size: .9rem;
}

.bold-text {
    font-weight: 500;
}

.secondary-color {
    color: #18020C;
}

.bg-purple {
    background-color: #6912AA;
}

.text-white {
    color: #ffffff;
}

.transaction-quick-details {
    background-color: #FCF8FF;
    border-radius: 12px;
    padding: 32px;
}

.mb-16 {
    margin-bottom: 16px;
}

.mb-10 {
    margin-bottom: 10px;
}

.transaction-purple-card {
    border-radius: 10px;
    padding: 16px;
    text-align: right;
}

.no-underline {
    text-decoration: none;
}

@media screen and (min-width: 640px) {
    body {
        padding: 20px 48px 48px 48px !important;
    }
}

@media screen and (min-width: 1024px) {
    .logo {
        width: 160px !important;
    }

    .transaction-quick-details>* {
        width: auto !important;
    }

    .transaction-purple-card>* {
        gap: 80px !important;
    }
}

@media screen and (min-width: 1280px) {
    body {
        padding: 80px !important;
    }
}
