* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    line-height: 1.5;
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 100%;
    font-weight: 400;
    padding: 1rem;
    background-color: #ffffff;
    color: #121212;
    align-content: space-between;
    gap: 7rem;
    word-break: break-word;
}

body,
.transaction-details,
.top-container {
    display: grid;
}

a {
    color: inherit;
}

.logo {
    width: 7rem;
    height: auto;
}

.w-full {
    width: 100%;
}

.light-text {
    font-size: .9rem;
}

.bold-text {
    font-weight: 500;
}

.secondary-color {
    color: #18020C;
}

.bg-purple {
    background-color: #6912AA;
}

.text-white {
    color: #ffffff;
}

.flex {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem 1rem;
}

.justify-between {
    justify-content: space-between;
}

.items-center {
    align-items: center;
}

.transaction-quick-details {
    background-color: #FCF8FF;
    border-radius: 12px;
    padding: 2rem;
}

.transaction-quick-details > * {
    width: 100%;
}

.transaction-date > :not(:last-child),
.transaction-purple-card > :not(:last-child) {
    margin-bottom: 1rem;
}

.transaction-purple-card {
    border-radius: 10px;
    padding: 1rem;
    text-align: right;
}

.transaction-purple-card > * {
    gap: 1rem;
}


.top-container {
    gap: 5rem;
}

.transaction-quick-details,
.transaction-details,
.header {
    gap: 2rem;
}

.no-underline {
    text-decoration: none;
}

@media only screen and (min-width: 640px) {
    body {
        padding: 3rem;
    }
}

@media only screen and (min-width: 1024px) {
    body {
        padding: 3rem;
    }

    .logo {
        width: 10rem;
    }

    .transaction-quick-details>* {
        width: auto;
    }

    .transaction-date> :not(:first-child),
    .transaction-purple-card> :not(.light-text) {
        font-size: 1.2rem;
    }

    .transaction-purple-card>* {
        gap: 5rem;
    }
}

@media only screen and (min-width: 1280px) {
    body {
        padding: 5rem;
    }
}
